@import 'src/scss/reset';
@import 'src/scss/variables';
@import 'src/scss/_mixin';

body {
  @include fs-em(16);

  font-family: 'Roboto', sans-serif;
}

//Comon styles
.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding-right: 55px;
  padding-left: 55px;
}

.title {
  color: $primary;
  font-weight: 700;
  font-style: italic;
}

.link {
  color: $white;
  text-decoration: none;

  &_sm {
    @include fs-em(17);
  }
}

.header {
  position: relative;
  width: 100%;

  &__slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.logo {
  display: block;
  width: 87px;
  height: 70px;
  cursor: pointer;

  &__img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.phone {
  position: relative;

  &__icon {
    @include width-em(30, 17);
    @include height-em(30, 17);

    position: absolute;
    top: -6px;
    left: -38px;
    fill: $white;
  }
}

.search {
  position: relative;
  display: none;
  flex-shrink: 2;
  width: 25%;
  max-width: 480px;
  height: 45px;
  overflow: hidden;
  border-radius: 13px;

  &__btn {
    position: absolute;
    top: 2px;
    left: 0;
    width: 36px;
    height: 45px;
    background: none;
    border: none;
    outline: none;
  }

  &__icon {
    width: 20px;
    height: 20px;
  }

  &__input {
    width: 100%;
    height: 100%;
    padding-left: 36px;
    line-height: 45px;
  }
}

.lang {
  position: relative;
  display: none;
  width: 60px;
  margin-left: 4.5%;

  &::after {
    position: absolute;
    top: 50%;
    right: 5px;
    display: block;
    width: 0;
    height: 0;
    border-top: 8px solid $tertiaty;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    transform: translateY(-50%);
    content: '';
  }

  &__select {
    @include fs-em(17);

    width: 60px;
    height: 35px;
    padding-left: 5px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    appearance: none;
  }
}

.account {
  display: none;
  align-items: baseline;
  justify-content: flex-end;
  width: 25%;
  margin-left: 5%;

  &__link {
    position: relative;
    flex-shrink: 0;
    padding-left: 10px;

    &:nth-child(1) {
      margin-right: 3%;

      svg {
        width: 28px;
        height: 25px;
        transform: translate(-3px, 6px);
        fill: none;
        stroke: $white;
        stroke-width: 2px;
      }
    }

    &:nth-child(2) {
      margin-right: 3%;

      svg {
        width: 22px;
        height: 21px;
        transform: translate(-5px, 4px);
        fill: none;
        stroke: $white;
        stroke-width: 2px;
      }
    }

    &:nth-child(3) {
      svg {
        width: 24px;
        height: 27px;
        transform: translate(1px, 6px);
        fill: $white;
      }
    }
  }
}

.btn {
  font-family: 'Roboto', sans-serif;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &_as-link {
    @include fs-em(19);

    color: $black;
    background: none;
  }

  &_filter {
    .filter-icon {
      width: 30px;
      height: 30px;
      transform: translate(-12px, 11px);
    }
  }

  &_sort {
    .sort-icon {
      width: 26px;
      height: 26px;
      transform: translate(-12px, 9px);
    }
  }

  &_close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    background: transparent;

    svg {
      stroke: $black;
      stroke-width: 2;
    }
  }

  &_sm {
    @include fs-em(15);

    width: 80px;
    height: 40px;
    line-height: 39px;
  }

  &_lg {
    @include fs-em(23);

    width: 100%;
    height: 75px;
    line-height: 74px;

    @media screen and (min-width: $bp-sm) {
      width: 210px;
    }
  }

  &_order {
    display: block;
    color: $secondary-lighter;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background-color: $color-success;
  }

  &_dark {
    @include fs-em(20);

    width: 245px;
    height: 60px;
    color: $white;
    line-height: 60px;
    background-color: $black;
  }
}

.menu {
  position: relative;
  width: 100%;

  &_top {
    height: 120px;
    background-image: url('img/header/header-menu-top-bgr.jpg');
    background-size: cover;
  }

  &_bottom {
    height: 70px;
    background-color: $black;

    a {
      display: none;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    padding-right: 10px;
    padding-left: 10px;

    @media screen and (min-width: $bp-sm) {
      padding-right: 55px;
      padding-left: 55px;
    }
  }

  &__logo {
    margin-right: auto;
  }

  &__phone {
    //margin-right: auto;
  }

  &__link {
    position: relative;

    &:nth-child(1),
    &:nth-child(2) {
      &::after {
        position: absolute;
        top: -2px;
        right: -15px;
        display: block;
        width: 1px;
        height: 20px;
        background-color: $white;
        content: '';
      }
    }

    &:nth-child(2) {
      margin-right: 30px;
      margin-left: 30px;
    }

    &:nth-child(1) {
      margin-left: auto;
    }

    &:nth-child(3) {
      margin-right: -7.725%;
    }

    &:nth-child(4) {
      margin-left: auto;
    }

    &:nth-child(5) {
      margin-right: 4.6%;
      margin-left: 3.125%;
    }
  }
}

.slider-wrap {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 50%;
  overflow: hidden;

  @media screen and (min-width: $bp-md) {
    padding-top: 33%;
  }
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  height: 100%;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  margin-right: auto;
  margin-left: auto;

  &::before,
  &::after {
    display: table;
    content: "";
  }

  &::after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;

  [dir="rtl"] & {
    float: right;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &.slick-loading img {
    display: none;
  }

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-dots {
  position: relative;
  z-index: 10;
  margin-top: -50px;
  text-align: center;

  li {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 15px;
    }

    button {
      width: 23px;
      height: 23px;
      color: transparent;
      background-color: $secondary;
      border: none;
      border-radius: 50%;
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }
  }
}

.products {
  &__top {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 95px;

    button {
      display: none;
    }
  }

  &__btn_sort {
    margin-left: 70px;
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media screen and (min-width: $bp-sm) {
      justify-content: space-between;
    }
  }

  &__item {
    margin-bottom: 40px;
  }

  &__bottom {
    margin-bottom: 70px;
    text-align: center;
  }
}

.item-wrap {
  width: 100%;
  max-width: 450px;

  @media screen and (min-width: $bp-sm) {
    width: 45%;
  }

  @media screen and (min-width: $bp-md) {
    width: 31%;
  }

  &:nth-child(n+10) {
    display: none;
  }
}

.item {
  display: grid;
  grid-template-areas:
    "img img"
    "title rating"
    "desc btn";
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 1.6fr 1fr;
  padding-bottom: 20px;
  background-color: $secondary;
  border: 1px solid $black;

  &__img {
    position: relative;
    grid-area: img;
    width: 100%;
    height: 0;
    margin-bottom: 20px;
    padding-top: 55%;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    @include fs-em(20);

    grid-area: title;
    margin-bottom: 40px;
    margin-left: 18px;
  }

  &__id {
    visibility: hidden;
  }

  &__rating {
    position: relative;
    grid-area: rating;
    justify-self: end;
    width: 100px;
    height: 16px;
    margin-right: 5%;
    overflow: hidden;

    @media screen and (min-width: $bp-lg) {
      width: 136px;
      height: 24px;
      margin-right: 16%;
    }

    &_active,
    &_bgr {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &_active {
      z-index: 10;

      svg {
        fill: $tertiaty;
      }
    }

    &_bgr {
      z-index: 5;

      svg {
        fill: $grey;
      }
    }
  }

  &__star-icon {
    width: 16px;
    height: 16px;

    @media screen and (min-width: $bp-lg) {
      width: 24px;
      height: 24px;
    }
  }

  &__description {
    @include fs-em(14);

    grid-area: desc;
    margin-left: 13px;
    color: $color-success;
    line-height: 1.15;
  }

  &__price {
    visibility: hidden;
  }

  &__btn {
    grid-area: btn;
    align-self: center;
    justify-self: end;
    margin-right: 12%;
  }
}

.footer {
  @include fs-em(16);

  padding-top: 55px;
  padding-bottom: 40px;
  color: $white;
  background-image: url('img/footer-bgr.jpg');
  background-size: cover;

  @media screen and (min-width: $bp-md) {
    @include fs-em(22);
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    @media screen and (min-width: $bp-sm) {
      flex-wrap: nowrap;
    }
  }

  ul {
    width: 50%;
    margin-bottom: 40px;

    @media screen and (min-width: $bp-sm) {
      width: auto;
      margin-bottom: 0;
    }

    li:first-child {
      margin-bottom: 40px;
    }

    li:not(:first-child) {
      margin-bottom: 10px;
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: calc(100% + 30px);
  height: 100%;
  overflow-y: scroll;
  background-color: rgba($color: $color-success, $alpha: 0.75);
  visibility: hidden;

  &__block {
    position: relative;
    top: calc(50% + 70px);
    left: 50%;
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 60px 25px 100px;
    background-color: $grey-lighter;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s;

    @media screen and (min-width: $bp-xs) {
      top: calc(50% + 145px);
    }

    @media screen and (min-width: $bp-sm) {
      top: calc(50% + 200px);
    }

    @media screen and (min-width: $bp-md) {
      top: 50%;
      flex-direction: row;
      width: 90%;
      max-width: 1500px;
      padding: 60px 60px 100px;
    }
  }

  &_active {
    visibility: visible;

    .modal__block {
      opacity: 1;
    }
  }

  &__slider-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin-right: 4%;

    @media screen and (min-width: $bp-md) {
      width: 62%;
    }
  }

  &__slider-wrap {
    position: relative;
    width: 100%;
    padding-top: 66.5%;
    overflow: hidden;
  }

  &__slider-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__arrow {
    position: absolute;
    top: calc(50% - 12px);
    z-index: 20;
    display: none;
    width: 24px;
    height: 37px;
    color: transparent;
    background-color: transparent;
    background-image: url('img/slider-arrow.svg');
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &_prev {
      left: 30px;
    }

    &_next {
      right: 30px;
      transform: scaleX(-1);
    }


    @media screen and (min-width: $bp-sm) {
      display: block;
    }
  }

  &__slider {
    width: 100%;
    height: 100%;

    div {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
      width: 100%;
      height: 100%;
      opacity: 1;
      transition: opacity 0.3s;

      &.active {
        z-index: 15;
        opacity: 1;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__slider-nav-wrap {
    position: absolute;
    bottom: 30px;
    left: 50%;
    z-index: 100;
    width: 94%;
    transform: translateX(-50%);
  }

  &__slider-nav {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: none;
    width: 100%;
    transform: translateX(-50%);

    div {
      width: 31%;

      &:not(:last-of-type) {
        margin-right: 3.5%;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    @media screen and (min-width: $bp-sm) {
      display: flex;
    }
  }

  &__info {
    width: 100%;

    @media screen and (min-width: $bp-md) {
      width: 35%;
    }
  }

  &__title {
    @include fs-em(20);

    margin-top: 35px;
    margin-bottom: 20px;

    @media screen and (min-width: $bp-sm) {
      @include fs-em(45);
    }
  }

  &__rating-wrap {
    display: block;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;

    @media screen and (min-width: $bp-sm) {
      display: flex;
      margin-bottom: 40px;
    }
  }

  &__rating {
    position: relative;
    width: 171px;
    height: 31px;
    overflow: hidden;

    .item__star-icon {
      width: 31px;
      height: 31px;
    }
  }

  &__reviews-number {
    @include fs-em(16);

    margin-top: 2px;
  }
}

.form {
  &__hidden {
    display: none;
  }

  &__details {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 360px;
    margin: 0 auto 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;

    @media screen and (min-width: $bp-sm) {
      margin: 0 auto 37px;
      padding-top: 45px;
      padding-bottom: 45px;
    }

    @media screen and (min-width: $bp-md) {
      margin: 0 0 37px;
    }
  }

  &__price {
    @include fs-em(25);

    &::after {
      margin-left: 5px;
      content: "\0024";
    }
  }

  &__quantity {
    position: relative;
  }

  &__contact {
    margin-bottom: 30px;

    input {
      width: 100%;
      margin-bottom: 20px;

      @media screen and (min-width: $bp-sm) {
        width: 45%;
      }
    }

    input:first-child {
      margin-right: 5%;
    }
  }

  &__input {
    @include fs-em(16);

    z-index: 50;
    display: block;
    float: left;
    height: 39px;
    margin: 0;
    padding-left: 10px;
    line-height: 41px;
    background-color: $secondary-lighter;
    border: 1px solid $color-success;

    &_narrow {
      width: 58px;
    }
  }

  &__description {
    position: relative;
    width: 100%;
    max-width: 450px;
    margin-bottom: 30px;
    padding-left: 15px;
    font-size: 0.7rem;
    line-height: 1.188;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 11px;
      height: 11px;
      background-color: $tertiaty;
      border-radius: 50%;
      content: '';
    }

    @media screen and (min-width: $bp-sm) {
      font-size: 1rem;
    }
  }

  &__btn {
    margin-left: 0;

    @media screen and (min-width: $bp-sm) {
      margin-left: 15px;
    }
  }

  &__success {
    @include fs-em(22);

    display: none;
    color: $color-success;
  }
}

.quantity {
  &__up,
  &__down {
    position: absolute;
    right: 0;
    z-index: 100;
    display: block;
    width: 25px;
    height: 20px;
    background: transparent;
    background-color: $secondary-lighter;
    border: 1px solid $color-success;
    cursor: pointer;

    &::before {
      position: absolute;
      top: 6px;
      left: 6px;
      display: block;
      border-right: 5px solid transparent;
      border-bottom: 6px solid $black;
      border-left: 5px solid transparent;
      content: '';
    }
  }

  &__up {
    z-index: 10;
    border-bottom: 1px solid $tertiaty;
  }

  &__down {
    bottom: 0;

    &::before {
      transform: rotate(180deg);
    }
  }
}
