$font-size-base: 16;

//Colors
$black: #000;
$white: #fff;
$primary: #2c1e1b;
$secondary-lighter: #f0f0f0;
$secondary: #f2f2f2;
$tertiaty: #ffcf24;
$grey: #c4c4c4;
$grey-lighter: #e5e5e5;
$color-success: #6d9773;

$bp-xs: 520px;
$bp-sm: 768px;
$bp-md: 992px;
$bp-lg: 1270px;
